---
import Layout from '../layouts/Layout.astro';
---

<Layout title="关于我" description="关于本博客作者">
	<main>
		<h1>关于我</h1>
		<p>HiHi这里是BFladderbean，你可以叫我BF！</p>
		
		<h2>我是谁？</h2>
		<p>我是一位前端开发者&&一位已经AFOed的OIer，目前正在绝赞学习机器学习/深度学习。关于学习嘛……我是一个国际生，所以学的东西比较自由，可能会涉及很多不同领域。</p>
		<p>游戏方面我主要摸音游和一些策略类游戏（神秘打灰男（划掉））。而且由于是解构向玩家，我可能会扔一些游戏的代码片段。我会遵循EULA的！</p>

		<h2>为什么写这个博客？</h2>
		<p>在这里我也许会随机扔一些游戏特性分析 or 代码模板 or 学习笔记。</p>
	</main>
</Layout>

<style>
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
	}
	h1 {
		font-size: 2.5em;
		color: rgb(var(--black));
	}
</style>
